[submodule "commonItems"]
	path = commonItems
	url = https://github.com/ParadoxGameConverters/commonItems
[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/ParadoxGameConverters/wxWidgets
[submodule "TrianglePP"]
	path = TrianglePP
	url = https://github.com/mrkkrj/TrianglePP.git
[submodule "gtl"]
	path = gtl
	url = https://github.com/greg7mdp/gtl
